@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%; /* Ensure app takes full width */
  margin: 0;
  padding: 0; /* Remove padding to avoid spacing issues */
  font-weight: normal;
  overflow-x: hidden; /* 防止水平滚动条 */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: block; /* Change grid to block to prevent layout shift */
    padding: 0; /* Remove padding in larger screens */
  }
}
